
<div class="container text-center ">
  <h5 class="text-muted">Choose a Region</h5>
  <hr class="my-2">
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
        <a [routerLink]="['/allCountry/region/asia/all']">
      <div class="card text-center text-white">
        <img class="card-img-top" src="assets/images/asia.jpeg" alt="" height="250">
        <div class="card-img-overlay">
          <h3>Asia</h3>
        </div>
      </div>
      </a>
    </div>
    <div class="col-md-4">
        <a [routerLink]="['/allCountry/region/africa/all']">
        <div class="card text-center text-white">
          <img class="card-img-top" src="assets/images/africa.jpeg" alt="" height="250">
          <div class="card-img-overlay">
            <h3>Africa</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a [routerLink]="['/allCountry/region/americas/all']">
        <div class="card text-center text-white">
          <img class="card-img-top" src="assets/images/americas.jpeg" alt="" height="250">
          <div class="card-img-overlay">
            <h3>America</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a [routerLink]="['/allCountry/region/europe/all']">
        <div class="card text-center text-white">
          <img class="card-img-top" src="assets/images/europe.jpeg" alt="" height="250">
          <div class="card-img-overlay">
            <h3>Europe</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a [routerLink]="['/allCountry/region/oceania/all']">
        <div class="card text-center text-white">
          <img class="card-img-top" src="assets/images/oceania.jpeg" alt="" height="250">
          <div class="card-img-overlay">
            <h3>Oceania</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a [routerLink]="['/allCountry/region/polar/all']">
        <div class="card text-center text-white">
          <img class="card-img-top" src="assets/images/polar.jpeg" alt="" height="250">
          <div class="card-img-overlay">
            <h3>Polar</h3>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>